*{
    margin: 0;
    padding: 0;
}
.bgimg{
    background-image: url('img/room3.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 730px;
}
.nav-bar{
    padding: 5px;
    max-width: 100%;
    white-space: 20%;
}
.main-btn{
    font-size: 14px;
    font-weight: 500;
    text-transform:uppercase;
    background-color:transparent; 
    border: 1px solid;
    padding: 1px 3px; 
    border-radius: 20px;
    line-height: 20px;
    transition: all 0.3s ease-out 0s;
                                  
}
.main-btn:hover{
    background-color: antiquewhite;
    border-color: bisque;
 
    
}
.headerset{
    padding: 280px;
    color: white;
    box-sizing: border-box;
   
   
}
.headerset h1{
    border-bottom: 1px solid rgb(252, 252, 252)  ;
    

}
.container ourservices{
    margin: 100px;

}
.booking-area{
    background: white;
    box-shadow: 1px 1px black;
    margin-top: 150px;
    padding: 20px;
}
.room-content h3{
    font-size: 35px;
    color: #fc4c4c;
}
.room-content h3 span{
    font-size: 35px;
    color: #ffffff;
}
.wpo-room-area{
    text-align: center;
}
footer {
    background-color: black;
    text-align: right;
    color: white;
    width: 1380px;;

}
.btn{
    
    margin-left: 70px;
}
.about-wrapper image{
    height: 2px;

}
.wpo-site-footer {
    background: #303443;
    position: relative;
    font-size: 15px;
    overflow: hidden;
}
li{
    list-style: none;
}
a{
   list-style: none;
}
.image{
    width: 60%;
    height: 100%;
    margin: 2% 20% ;


}
.col-lg-6 h3{
   margin-left: 10%;
  
}
.mt-4{
    text-align: center;
    margin: 35%;
    color: darkviolet;
}
.justify-content-center{
    column-gap: 10%;
}
.imgsvg {
    vertical-align: middle;
    height: 10%;
    width: 10%;
}
.nav-item:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);